.mask {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.mask-primary {
    &:before {
        background: $primary-mask-color;
        opacity: 0.6;
    }
}
