/***************************
****************************
Reset Styles
****************************
***************************/

@import 'normalize.css';

/* Change all elements to use border-box */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/

body {
    color: #414042;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    color: #8dc63f;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/***************************
****************************
Layout Styles
****************************
***************************/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }

    .col-1-3 {
        width: 33.3333%;
    }

    .col-2-3 {
        width: 66.6666%;
    }

    .col-1-2 {
        width: 50%;
    }

    .col-1-4 {
        width: 25%;
    }

    .col-1-6 {
        width: 16.6666%;
    }
}

@media (min-width: 48em) {
    .pull-right-sm {
        float:right;
    }
}

@media (min-width: 48em) {
    .no-collapse {
        min-height: 1px;
    }
}


/*This is the size from the last media query minus a pixel.*/
@media only screen and (max-width : 47.9375em) {
    .remove-gutter-xs {
        padding-left: 0px;
        padding-right: 0px;
    }
}

/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/

.background-primary {
  background: #F7941E; /*Orange*/
}
.background-secondary {
  background: #00AEEF; /*Blue*/
}
.background-tertiary {
  background: #8DC63F; /*Green*/
}