/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: $background-primary;
}
.background-secondary {
  background: $background-secondary;
}
.background-tertiary {
  background: $background-tertiary;
}
.background-quaternary {
  background: $background-quaternary;
}
.background-quinary {
  background: $background-quinary;
}
