@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: $width/2;
}

@mixin flexbox-display {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}