/***************************
****************************
Reset
****************************
***************************/

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/
body {
  color: #414042;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
h1, h2, h3 {
  font-weight: bold;
}
a {
  color: #8dc63f;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
}

