$green: #8DC63F !default;
$orange: #F7941E !default;
$brown: #594a42 !default;
$dark-brown: #414042 !default;
$tan: #e7e1d7 !default;

$background-primary: #F7941E !default;
$background-secondary: #C49A6C !default;
$background-tertiary: #8DC63F !default;
$background-quaternary: #594a42 !default;
$background-quinary: #e7e1d7 !default;

// functional variables
$text-color: $dark-brown !default;
$link-color: $green !default;
$primary-mask-color: $orange !default;
